* {
    font-family: 'Noto Sans TC', sans-serif;
}
#navbar {
    display: flex;
    background-color: black;
    justify-content: start;
    align-items: center;
    color: white;
}

#navbar>div:nth-child(1) {
    margin-left: 20px;
    width: 3%;
}

#navbar>div:nth-child(2) {

    width: 65%;
}

#navbar>div:nth-child(1)>img {
    width: 80%;
}

#navbar>div:nth-child(2)>img {
    width: 14%;
}

#navbar>div:nth-child(3) {
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

#navbar>div:nth-child(3)>button {
    width: 35%;
    border-radius: 25px;
    height: 55px;
    font-weight: 800;
}

#container {
    display: flex;

    justify-content: space-around;
}

#detailsof {
    border: 5px solid blue
}

#container>div:nth-child(1) {
    border: solid red 5px;
    width: 70%;
}

#container>div:nth-child(2) {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    width: 30%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 40px;
    height: 680px;
}

#container>div:nth-child(2)>button {
    background-color: #10A310;
    color: White;
    font-weight: 700;
    width: 95%;
    height: 8%;
    border-radius: 5px;
    border-style: none;
}

#leftbottom {
    display: flex;
    justify-content: space-between;
}



#leftbottom {
    width: 95%;
}
#left>div:nth-child(1) {

    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;

}

#photo {
    width: 100%;
}