* {
    font-family: 'Noto Sans TC', sans-serif;
}

#navbar {
    display: flex;
    background-color: black;
    justify-content: start;
    align-items: center;
    color: white;
}

#navbar>div:nth-child(1) {
    margin-left: 20px;
    width: 3%;
}

#navbar>div:nth-child(2) {

    width: 65%;
}

#navbar>div:nth-child(1)>img {
    width: 80%;
}

#navbar>div:nth-child(2)>img {
    width: 14%;
}

#navbar>div:nth-child(3) {
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

#navbar>div:nth-child(3)>button {
    width: 35%;
    border-radius: 25px;
    height: 55px;
    font-weight: 800;
}
h1 {
    font-size: 45px;
    color: #1c7936;
}

h3 {
    color: #1c7936;
}


#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #83e688;
    border-radius: 50%;
    border-top: 16px solid #1c7936;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.status {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

#paymentstatus {
    display: none;
    text-align: center;
}